<?xml version="1.0"?>

<launch>
    <node pkg="fsm_ctrl" type="single_offboard_fsm" name="single_offboard_fsm" output="screen">
        <param name = "real_environment" type = "bool" value = "false" />
        <rosparam file="$(find fsm_ctrl)/config/controller_params.yaml" command="load" />
    </node>
</launch>