<?xml version="1.0"?>

<launch>
    
    <node pkg="mpcc_ctrl" type="single_offboard_fsm" name="single_offboard_fsm" output="screen">
       
        <remap from = "~odom"        to ="/camera/odom/sample"/>
        <remap from = "~position_cmd" to = "/position_cmd"/>

        <param name = "mpcc_force_limit_min" type = "double" value = "0.01" />
        <param name = "mpcc_force_limit_max" type = "double" value = "10" />
        <param name = "mpcc_delta_force_limit_min" type = "double" value = "-20" />
        <param name = "mpcc_delta_force_limit_max" type = "double" value = "20" />
        <param name = "mpcc_w_limit_min" type = "double" value = "-3.14" />
        <param name = "mpcc_w_limit_max" type = "double" value = "3.14" />
        <param name = "mpcc_v_theta_limit_min" type = "double" value = "0" />
        <param name = "mpcc_v_theta_limit_max" type = "double" value = "20" />
        <param name = "mpcc_dv_theta_limit_min" type = "double" value = "0" />
        <param name = "mpcc_dv_theta_limit_max" type = "double" value = "50" />

        <param name = "nlp_predict_step" type = "int" value = "15" />
        <param name = "nlp_onestep_time" type = "double" value = "0.05" />
        <param name = "nlp_state_num" type = "int" value = "19" />
        <param name = "nlp_input_num" type = "int" value = "5" />

        <param name = "traj_choose" type = "int" value = "4" /> 

        <!-- For ACADOS -->
        <!-- <param name = "mpcc_Qcx" type = "double" value = "20000.0" />
        <param name = "mpcc_Qcy" type = "double" value = "20000.0" />
        <param name = "mpcc_Qcz" type = "double" value = "20000.0" />
        <param name = "mpcc_Ql" type = "double" value = "10000.0" />
        <param name = "mpcc_Qw" type = "double" value = "80.0" />
        <param name = "mpcc_Rdf" type = "double" value = "0.6" />
        <param name = "mpcc_Rdv" type = "double" value = "2.5" />
        <param name = "mpcc_v" type = "double" value = "20.0" />
        <param name = "mpcc_gaussx" type = "double" value = "5" />
        <param name = "mpcc_gaussy" type = "double" value = "5" />
        <param name = "mpcc_gaussz" type = "double" value = "5" /> -->

        <param name = "mpcc_Qcx" type = "double" value = "1000.0" />
        <param name = "mpcc_Qcy" type = "double" value = "1000.0" />
        <param name = "mpcc_Qcz" type = "double" value = "1000.0" />
        <param name = "mpcc_Ql" type = "double" value = "10000.0" />
        <param name = "mpcc_Qw_xy" type = "double" value = "8" />
        <param name = "mpcc_Qw_z" type = "double" value = "800" />
        <param name = "mpcc_Rdf" type = "double" value = "0.6" />
        <param name = "mpcc_Rdv" type = "double" value = "0.5" />
        <param name = "mpcc_v" type = "double" value = "20.0" />
        <param name = "mpcc_gaussx" type = "double" value = "5" />
        <param name = "mpcc_gaussy" type = "double" value = "5" />
        <param name = "mpcc_gaussz" type = "double" value = "5" />

        <!-- For NMPC_df -->
        <param name = "nmpc_df_Qposx" type = "double" value = "800.0" />
        <param name = "nmpc_df_Qposy" type = "double" value = "800.0" />
        <param name = "nmpc_df_Qposz" type = "double" value = "800.0" />
        <param name = "nmpc_df_Qvelx" type = "double" value = "200.0" />
        <param name = "nmpc_df_Qvely" type = "double" value = "200.0" />
        <param name = "nmpc_df_Qvelz" type = "double" value = "200.0" />
        <param name = "nmpc_df_Qwx" type = "double" value = "5.0" />
        <param name = "nmpc_df_Qwy" type = "double" value = "5.0" />
        <param name = "nmpc_df_Qwz" type = "double" value = "5.0" />
        <param name = "nmpc_df_Qquatx" type = "double" value = "10.0" />
        <param name = "nmpc_df_Qquaty" type = "double" value = "10.0" />
        <param name = "nmpc_df_Qquatz" type = "double" value = "10.0" />
        <param name = "nmpc_df_Rdf0" type = "double" value = "0.05" />
        <param name = "nmpc_df_Rdf1" type = "double" value = "0.05" />
        <param name = "nmpc_df_Rdf2" type = "double" value = "0.05" />
        <param name = "nmpc_df_Rdf3" type = "double" value = "0.05" />

        <!-- For NMPC_f -->
        <param name = "nmpc_f_Qposx" type = "double" value = "800.0" />
        <param name = "nmpc_f_Qposy" type = "double" value = "800.0" />
        <param name = "nmpc_f_Qposz" type = "double" value = "800.0" />
        <param name = "nmpc_f_Qvelx" type = "double" value = "200.0" />
        <param name = "nmpc_f_Qvely" type = "double" value = "200.0" />
        <param name = "nmpc_f_Qvelz" type = "double" value = "200.0" />
        <param name = "nmpc_f_Qwx" type = "double" value = "5.0" />
        <param name = "nmpc_f_Qwy" type = "double" value = "5.0" />
        <param name = "nmpc_f_Qwz" type = "double" value = "5.0" />
        <param name = "nmpc_f_Qquatx" type = "double" value = "10.0" />
        <param name = "nmpc_f_Qquaty" type = "double" value = "10.0" />
        <param name = "nmpc_f_Qquatz" type = "double" value = "10.0" />
        <param name = "nmpc_f_Rf0" type = "double" value = "0.05" />
        <param name = "nmpc_f_Rf1" type = "double" value = "0.05" />
        <param name = "nmpc_f_Rf2" type = "double" value = "0.05" />
        <param name = "nmpc_f_Rf3" type = "double" value = "0.05" />

        <!-- For NMPC_simple -->
        <param name = "nmpc_s_Qposx" type = "double" value = "100.0" />
        <param name = "nmpc_s_Qposy" type = "double" value = "100.0" />
        <param name = "nmpc_s_Qposz" type = "double" value = "100.0" />
        <param name = "nmpc_s_Qvelx" type = "double" value = "2.0" />
        <param name = "nmpc_s_Qvely" type = "double" value = "2.0" />
        <param name = "nmpc_s_Qvelz" type = "double" value = "2.0" />
        <param name = "nmpc_s_Qquatx" type = "double" value = "10.0" />
        <param name = "nmpc_s_Qquaty" type = "double" value = "10.0" />
        <param name = "nmpc_s_Qquatz" type = "double" value = "10.0" />
        <param name = "nmpc_s_Rwx" type = "double" value = "1.0" />
        <param name = "nmpc_s_Rwy" type = "double" value = "1.0" />
        <param name = "nmpc_s_Rwz" type = "double" value = "1.0" />
        <param name = "nmpc_s_RtotalF" type = "double" value = "1.0" />

        <!-- For FlightGoggles -->
        <param name = "thrust_coefficient" type = "double" value = "1.4545236059e-8" />

    </node>
</launch>
